In [4]:
# There was a major issue with this Lab so I went and included the sql code used in each task below

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [ ]:
('select DISTINCT Launch_Site from tblSpaceX','Launch_Site')

### Task 2

##### Display 5 records where launch sites begin with the string 'KSC'

In [ ]:
("select TOP 5 * from tblSpaceX WHERE Launch_Site LIKE 'KSC%'")

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
("select SUM(PAYLOAD_MASS_KG_) TotalPayloadMass from tblSpaceX where Customer = 'NASA (CRS)'",'TotalPayloadMass')

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [ ]:
("select AVG(PAYLOAD_MASS_KG_) AveragePayloadMass from tblSpaceX where Booster_Version = 'F9 v1.1'",'AveragePayloadMass')

### Task 5

##### List the date when the first succesful landing outcome in drone ship was acheived.

*Hint:Use min function*

In [ ]:
("select MIN(Date) SLO from tblSpaceX where Landing_Outcome = 'Success (drone ship)'",'SLO')

### Task 6

##### List the names of the boosters which have success in ground pad and have payload mass greater than 4000 but less than 6000

In [ ]:
("select Booster_Version from tblSpaceX where Landing_Outcome = 'Success (ground pad)' AND Payload_MASS_KG_ > 4000 AND Payload_MASS_KG_ < 6000",'Booster_Version')

### Task 7

##### List the total number of successful and failure mission outcomes

In [ ]:
("SELECT(SELECT Count(Mission_Outcome) from tblSpaceX where Mission_Outcome LIKE '%Success%') as Successful_Mission_Outcomes,(SELECT Count(Mission_Outcome) from tblSpaceX where Mission_Outcome LIKE '%Failure%') as Failure_Mission_Outcomes")

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [ ]:
("SELECT DISTINCT Booster_Version, MAX(PAYLOAD_MASS_KG_) AS [Maximum Payload Mass] FROM tblSpaceX GROUP BY Booster_Version ORDER BY [Maximum Payload Mass] DESC")

### Task 9

##### List the records which will display the month names, successful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017

In [ ]:
("SELECT   DateName( month , DateAdd( month , MONTH(CONVERT(date,Date, 105)) , 0 ) - 1 )  as Month, Booster_Version, Launch_Site, Landing_Outcome FROM tblSpaceX WHERE  (Landing_Outcome LIKE N'%Success%') AND YEAR(CONVERT(date,Date, 105)) = '2017'")

### Task 10

##### Rank the  count of  successful landing_outcomes between the date 2010-06-04 and 2017-03-20 in descending order.

In [ ]:
("SELECT COUNT(Landing_Outcome) AS sl FROM dbo.tblSpaceX WHERE (Landing_Outcome LIKE '%Success%') AND (Date >'04-06-2010') AND (Date < '20-03-2017')",'sl')